* {
    margin-right: 5px;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

table {
    width: 100%;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

table.selected {
    background-color: lightcoral;
    color: white;
}

table.selected:hover {
    background-color: lightcoral;
    color: white;
}

table:hover {
    color: white;
    background-color: lightseagreen;
    left: .1em;
}

.review {
    background: lightgreen;
}