<button (click)="addSelect();" class="btn btn-success">
    Add Schedule
</button>
<div class="mt-3 mb-3" *ngIf="addSelected">
    <div class="form-group mr-3">
        <label class="mr-3">Schedule Name:
        </label>
        <input placeholder="Enter Schedule Name" [(ngModel)]="nameBox" class="form-control" name="name" />
    </div>
    <div class="form-group mr-3">
        <label class="mr-3">Schedule Description:
        </label>
        <input placeholder="Enter Schedule Description" [(ngModel)]="descriptionBox" class="form-control" name="name" />
    </div>
    <div class="form-group mr-3">
        <label class="mr-3">Component:
        </label>
        <select [(ngModel)]="publicBox" class="form-control">
            <option selected value="true">True</option>
            <option value="false">False</option>
        </select>
    </div>
    <button (click)="add();" class="btn btn-success">
        Add
    </button>
</div>
<div *ngFor="let s of schedules | slice:0:10" class="m-5 mainOutline">
    <div [class.selected]='c == selectedCourse'>
        <h4>{{ s.name }} - {{ s.courses?.length || '0' }} Courses
            <button (click)="edit();" class="btn btn-success mr-3 ml-3">
                Edit
            </button>
            <button (click)="delete(s.name);" class="btn btn-danger">
                Delete
            </button>
        </h4>
        <div>
            <p><strong>Created by:</strong> {{s.username}} <strong>Last Modified:</strong> {{s.updatedAt}}
                <strong>Public:</strong> {{s.public}}</p>
            <p><strong>Description:</strong> {{s.description}}</p>
            <button (click)="onSelect(s)" class="btn btn-primary mb-3">
                Expand
            </button>
            <div *ngIf="s == selectedSchedule">
                <p class="courses d-inline">
                    <strong>Courses: </strong>
                </p>
                <div *ngFor="let tableCourse of courses" class="p-5">
                    <h3>{{tableCourse.subject}} {{tableCourse.catalog_nbr}}</h3>
                    <p><strong>Description: </strong>{{tableCourse.catalog_description}}</p>
                    <table>
                        <tr>
                            <th *ngFor="let column of tableHeader">{{ column }}</th>
                        </tr>
                        <tr>
                            <td>{{ tableCourse.course_info[0].class_section }}</td>
                            <td>{{ tableCourse.course_info[0].ssr_component }}</td>
                            <td>{{ tableCourse.course_info[0].class_nbr }}</td>
                            <td>{{ tableCourse.course_info[0].days }}</td>
                            <td>{{ tableCourse.course_info[0].start_time }}</td>
                            <td>{{ tableCourse.course_info[0].end_time }}</td>
                            <td>{{ tableCourse.course_info[0].facility_ID }}</td>
                            <td>{{ tableCourse.course_info[0].instructors }}</td>
                            <td>{{ tableCourse.course_info[0].descr }}</td>
                            <td>{{ tableCourse.course_info[0].enrl_stat }}</td>
                            <td>{{ tableCourse.course_info[0].campus }}</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>